{% extends 'base.html' %}

{% block content %}
<!-- Loader -->
<div id="loader-wrapper" class="loader-wrapper" style="display: none;">
  <div class="loader">
    <div>
      <ul>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
          </svg>
        </li>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
          </svg>
        </li>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
          </svg>
        </li>
        <li>
          <svg fill="currentColor" viewBox="0 0 90 120">
            <path d="M90,0 L90,120 L11,120 C4.92486775,120 0,115.075132 0,109 L0,11 C0,4.92486775 4.92486775,0 11,0 L90,0 Z M71.5,81 L18.5,81 C17.1192881,81 16,82.1192881 16,83.5 C16,84.8254834 17.0315359,85.9100387 18.3356243,85.9946823 L18.5,86 L71.5,86 C72.8807119,86 74,84.8807119 74,83.5 C74,82.1745166 72.9684641,81.0899613 71.6643757,81.0053177 L71.5,81 Z M71.5,57 L18.5,57 C17.1192881,57 16,58.1192881 16,59.5 C16,60.8254834 17.0315359,61.9100387 18.3356243,61.9946823 L18.5,62 L71.5,62 C72.8807119,62 74,60.8807119 74,59.5 C74,58.1192881 72.8807119,57 71.5,57 Z M71.5,33 L18.5,33 C17.1192881,33 16,34.1192881 16,35.5 C16,36.8254834 17.0315359,37.9100387 18.3356243,37.9946823 L18.5,38 L71.5,38 C72.8807119,38 74,36.8807119 74,35.5 C74,34.1192881 72.8807119,33 71.5,33 Z"></path>
          </svg>
        </li>
      </ul>
    </div>
    <span>Loading</span>
  </div>
</div>

<div class="container my-5" id="story-container">
  <!-- Formulario de creación de historias -->
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Generador de Libros</h2>
          <form id="story-form" method="post">
            <!-- Campos del formulario -->
            <div class="form-group">
              <label for="description">Describir la historia</label>
              <textarea class="form-control" id="description" name="description" rows="3" placeholder="Describe brevemente tu idea de historia..." required></textarea>
            </div>
            <div class="form-group">
              <label for="genre">Género</label>
              <select id="genre" name="genre" class="form-control" required>
                <option value="">Selecciona un género</option>
                <option value="ficcion">Ficción</option>
                <option value="realista">Realista</option>
                <option value="aventura">Aventura</option>
                <option value="ciencia-ficcion">Ciencia ficción</option>
                <option value="misterio">Misterio</option>
                <option value="romance">Romance</option>
                <option value="terror">Terror</option>
                <option value="infantil">Infantil</option>
              </select>
            </div>
            <div class="form-group">
              <label for="creativity_level">Nivel de creatividad</label>
              <select id="creativity_level" name="creativity_level" class="form-control" required>
                <option value="">Selecciona un nivel</option>
                <option value="low">Bajo</option>
                <option value="medium">Medio</option>
                <option value="high">Alto</option>
              </select>
            </div>
            <div class="form-group">
              <label for="word_count">Longitud de la historia</label>
              <input type="range" id="word_count" name="word_count" min="100" max="1000" value="500" class="custom-range">
              <span id="word_count_value" class="form-text">de 100 a 1000 palabras</span>
            </div>
            <div class="form-group">
              <label for="language">Idioma</label>
              <select id="language" name="language" class="form-control" required>
                <option value="es">Español</option>
                <option value="gl">Gallego</option>
                <option value="en">Inglés</option>
                <option value="fr">Francés</option>
                <option value="de">Alemán</option>
                <option value="it">Italiano</option>
                <option value="zh">Chino</option>
              </select>
            </div>
            <button type="submit" id="generate-button" class="btn btn-primary btn-block">Generar</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Resultados de la generación de historias -->
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Su resultado</h2>
          {% if generated_text %}
          <div class="border p-4 rounded-lg" id="resultado">
              <img src="{{ cover_url }}" alt="Portada del libro" class="cover-image mb-3">
              {{ generated_text }}
          </div>
          <form method="post" action="{{ url_for('creations.save_book') }}" class="mt-3">
              <input type="hidden" name="title" value="{{ generated_title }}">
              <input type="hidden" name="content" value="{{ generated_text }}">
              <input type="hidden" name="cover_url" value="{{ cover_url }}">
              <button type="submit" class="btn btn-success btn-block">Guardar</button>
          </form>
          {% else %}
          <div class="border p-4 rounded-lg" id="resultado">
              <p class="text-muted">Tus resultados generados se mostrarán aquí.</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Libros generados -->
  <h2 class="text-center mb-4">Mis libros creados</h2>
  {% if books %}
  <div class="row">
    {% for book in books %}
    <div class="col-md-6 mb-4" id="book-{{ book.id }}">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <img src="{{ book.cover_url }}" alt="Portada del libro" class="cover-image mb-3">
          <h3 class="card-title">{{ book.title }}</h3>
          <p class="card-text">{{ book.content }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <label class="switch">
              <input type="checkbox" class="publish-switch" data-book-id="{{ book.id }}" {% if book.published %}checked{% endif %}>
              <span class="slider round"></span>
            </label>
            <span class="switch-label">{{ 'Publicado' if book.published else 'No Publicado' }}</span>
            <button class="btn btn-danger" onclick="confirmDelete(event, '{{ book.id }}')">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center text-muted">No se han generado libros aún.</p>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Actualiza el texto que muestra la longitud seleccionada para la historia
    const wordCountInput = document.getElementById('word_count');
    const wordCountValue = document.getElementById('word_count_value');

    wordCountInput.addEventListener('input', () => {
      wordCountValue.innerText = `Longitud aproximada: ${wordCountInput.value} palabras`;
    });

    // Inicializa el texto del span con el valor por defecto
    wordCountValue.innerText = `Longitud aproximada: ${wordCountInput.value} palabras`;

    // Muestra un loader cuando se envía el formulario
    const form = document.getElementById('story-form');
    form.addEventListener('submit', function (event) {
      const loaderWrapper = document.getElementById('loader-wrapper');
      const storyContainer = document.getElementById('story-container');

      // Mostrar loader y aplicar el efecto de difuminado al contenedor de la historia
      loaderWrapper.style.display = 'flex';
      storyContainer.classList.add('blur');
    });

    // Añade funcionalidad para el switch de publicación
    const publishSwitches = document.querySelectorAll('.publish-switch');
    publishSwitches.forEach(switchElement => {
      const bookId = switchElement.getAttribute('data-book-id');
      const isPublished = switchElement.checked;
      const label = switchElement.parentElement.nextElementSibling;
      label.innerText = isPublished ? 'Publicado' : 'No Publicado';

      switchElement.addEventListener('change', function () {
        const isPublished = switchElement.checked;

        fetch(`/creations/toggle_publish_book/${bookId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            label.innerText = isPublished ? 'Publicado' : 'No Publicado';
          } else {
            console.error(data.message);
          }
        })
        .catch(error => console.error('Error al actualizar el estado de publicación:', error));
      });
    });
  });

  // Función para confirmar y eliminar un libro
  function confirmDelete(event, bookId) {
    event.preventDefault();
    if (confirm("¿Estás seguro de que deseas eliminar este libro?")) {
      fetch(`/creations/delete_book/${bookId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          document.getElementById(`book-${bookId}`).remove();
        } else {
          alert(data.message);
        }
      })
      .catch(error => console.error('Error:', error));
    }
  }
</script>
{% endblock %}
